:root {
  --main-bg-color: #101932;
  --main-text-color: white;
  --highlight-text-color: orange;
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  font-family: 'Titillium Web', sans-serif;
}

div#container {
  /* four main columns: header, navigation,  subcontainer, footer */
  display: flex;
  flex-direction: column; /* in a single column */
  /*justify-content: space-between; */
  align-items: center; /* place the 3 main columns, centered */

  margin: 0 10%;
}

div#main {
  background-color: white;
  color: red;
  flex: 1;
}

div#header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

div.header__logo {
}

div.header__title {
  flex: 1;
  font-size: 32px;
  margin-left: 20px;
}

/*
 * NAVIGATION
 */
div#navigation{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

div#navigation div.menuitem {
  height: 60px;
  line-height: 60px;
  flex: 1;
  text-align: center;
}

div#navigation a {
  display: block;
  text-decoration: none;
  padding: 0 20px;
  color: var(--highlight-text-color);
}

div#navigation a:hover {
  background-color: #202942;
}

/*
 * FOOTER
 */
div#footer {
  width: 100%;
  text-align: center;
}